<div class="content mt-5 mh-100 w-100 h-100">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-6">
          <div class="card shadow-lg" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="text-center mt-5 text-muted">
  Copyright &copy; {{ year }} - {{ author }}
</div>

